<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.app.repository.AccomRepository">

    <!--  숙소 추가  -->
    <insert id="insert" parameterType="Accommodations">
        INSERT INTO Accommodations (
        host_id, name, location, price_night,
        person_max, description, notice, status,
        category, room_type,
        breakfast, pool, barbecue, pet,
        image1_name, image2_name, image3_name, image4_name, image5_name,
        latitude, longitude,
        create_day )
        VALUES ( #{hostId}, #{name}, #{location}, #{priceNight},
        #{personMax}, #{description}, #{notice}, #{status},
        #{category}, #{roomType},
        #{breakfast}, #{pool}, #{barbecue}, #{pet},
        #{image1Name}, #{image2Name}, #{image3Name}, #{image4Name}, #{image5Name},
        #{latitude}, #{longitude},
        NOW() )
        <selectKey resultType="int" keyProperty="accommodationId" order="AFTER"> SELECT LAST_INSERT_ID() </selectKey>
    </insert>

    <!--  숙소 수정 -->
    <update id="update" parameterType="Accommodations">
        UPDATE Accommodations
        SET name = #{name}, location = #{location}, price_night = #{priceNight}, person_max = #{personMax},
            description = #{description}, notice = #{notice}, status = #{status},
            category = #{category}, room_type = #{roomType},
            breakfast = #{breakfast}, pool = #{pool}, barbecue = #{barbecue}, pet = #{pet},
            image1_name=#{image1Name}, image2_name=#{image2Name}, image3_name=#{image3Name}, image4_name=#{image4Name}, image5_name=#{image5Name},
            update_day = NOW()
        WHERE accommodation_id = #{accommodationId}
    </update>

    <!--  숙소 삭제 -->
    <delete id="delete" parameterType="Integer">
        DELETE FROM Accommodations WHERE accommodation_id = #{accommodationId}
    </delete>

    <!-- ////////////////////////////// 조회 관련 -->

    <!--  전체 숙소 조회  (사용X) -->
    <select id="select" resultType="Accommodations"></select>

    <!--  숙소 id로 개별 숙소 정보 조회 -->
    <select id="selectOne" parameterType="Integer" resultType="Accommodations">
        SELECT a.*, COUNT(w.wishlist_id) AS wish
        FROM accommodations a
                 LEFT JOIN wishlists w
                           ON a.accommodation_id = w.accommodation_id
        WHERE a.accommodation_id = #{accommodationId}
        GROUP BY a.accommodation_id
    </select>

    <!--  개별 호스트가 등록한 모든 숙소 조회 (리스트) -->
    <select id="selectListByHostId" parameterType="String" resultType="Accommodations">
        SELECT a.*, COUNT(w.wishlist_id) AS wish
        FROM accommodations a
                 LEFT JOIN wishlists w
                           ON a.accommodation_id = w.accommodation_id
        WHERE a.host_id = #{hostId}
        GROUP BY a.accommodation_id
    </select>

    <!--  개별 호스트가 등록한 모든 숙소 조회 (페이지)-->
    <select id="selectPageByHostId" parameterType="String" resultType="Accommodations">
        SELECT a.*, COUNT(w.wishlist_id) AS wish
        FROM accommodations a
                 LEFT JOIN wishlists w
                           ON a.accommodation_id = w.accommodation_id
        WHERE a.host_id = #{hostId}
        GROUP BY a.accommodation_id
    </select>

    <!--     호스팅 중인 숙소 개수  -->
    <select id="countByHostId" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM accommodations
        WHERE host_id = #{hostId}
          AND status = '활성'
    </select>
</mapper>