<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.app.repository.UserRepository">
    <select id="selectByEmail" parameterType="String" resultType="user">
        SELECT * FROM users WHERE email=#{email}
    </select>
    <select id="selectOne" parameterType="String" resultType="user">
        SELECT * FROM users WHERE id=#{id}
    </select>
    <select id="select" resultType="user">
        SELECT * FROM users
    </select>
    <insert id="insert" parameterType="user">
        INSERT INTO users (id, role, email, pwd, name, phone, created_at)
            VALUE (#{id},#{role},#{email}, #{pwd}, #{name}, #{phone}, now())
    </insert>
    <update id="update" parameterType="user">
        UPDATE users SET cust_name=#{custName} WHERE cust_id=#{custId}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM users WHERE user_id=#{userId}
    </delete>

</mapper>